.table.table-bordered {
  border: 1px solid #ccc;
}

.action-week-complete {
  background: rgb(68, 98, 68);
}

.action-day-complete {
  color: rgb(204, 204, 0);
}

.action-day-incomplete {
  color: rgb(170, 170, 170);
}
